.well
  .row
    .col-xs-8
      %h4= "Product: #{product.title}"
      %p= "Description: #{product.description}"
      %p= "Created by: #{User.find(user_id).email}"
      %p= "#{current_order.id} / #{current_offer.id}"
      - if current_user && Product.where(user_id: current_user.id).first
        %table.table-bordered.table-striped.table-condensed
          %thead
            %tr
              %th Product
              %th Picture
              %th Action
          %tbody
          - Product.where(user_id: current_user.id).each do |p|
            %tr
              %td= p.title
              %td= image_tag ( Picture.where(product_id: p.id).first.image.url(:thumb))
              %td
              / = f.hidden_field :product_id , value: p.id
              / =f.hidden_field :offer_id , value: current_offer.id
            
      - else
        %h4 Already Signed in? 
        %p Please Log In and add some products to your account.
     
    .col-xs-4
      = form_for order_item, remote: true do |f| |
        .row
          .col-xs-4
            = f.hidden_field :product_id, value: product.id 
         
          .col-xs-8.text-right
            .btn-group
              = link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger"}
